<%- include('header') %>

<h1>Fantasy Basketball Schedule</h1>
<select id="scheduleSelector">
  <option value="week7">W7: 28 Nov-4 Dec</option>
  <option value="week8">W8: 5 Dec-11 Dec</option>
  <option value="week9">W9: 12 Dec-18 Dec</option>
  <option value="week10">W10: 19 Dec-25 Dec</option>
</select>
</form>

<div>
 <table class="table">
  <tr>
   <th>Team</th>
   <th>Games</th>
   <th>Monday</th>
   <th>Tuesday</th>
   <th>Wednesday</th>
   <th>Thursday</th>
   <th>Friday</th>
   <th>Saturday</th>
   <th>Sunday</th>
  </tr>
  <tr>
   <td>Atlanta Hawks</td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
  </tr>
  <tr>
   <td>Boston Celtics</td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
  </tr>
  <tr>
   <td>Brooklyn Nets</td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
  </tr>
  <tr>
   <td>Charlotte Hornets</td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
  </tr>
  <tr>
   <td>Chicago Bulls</td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
  </tr>
  <tr>
   <td>Cleveland Cavaliers</td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
  </tr>
  <tr>
   <td>Dallas Mavericks</td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
  </tr>
  <tr>
   <td>Denver Nuggets</td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
  </tr>
  <tr>
   <td>Detroit Pistons</td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
  </tr>
 </table> 
</div>

<script>
  // Get a reference to the select element
  const select = document.getElementById('scheduleSelector');

  // Add an event listener for the 'change' event
  select.addEventListener('change', () => {
    // The code inside this block will be executed when the selected option changes
    alert('Change detected');
  });
</script>

<%- include('footer') %>